body {
   font-family:Arial, Helvetica, sans-serif;
}
#wrapper {
    margin: auto;
    width: 90%;    
    padding: 0px;
    text-align:center;
}

#Content_lblPage{
    font-size:25px;
    font-weight:bolder;
}
