body {
   font-family:Arial, Helvetica, sans-serif;
   text-align:center;
}
#wrapper {
    margin: auto;
    width: 100%;    
    padding: 0px;
    text-align:center;
}

#Content_lblPage{
    font-size:25px;
    font-weight:bolder;
}

#Content_dgData{
    text-align:center;
    margin-left:15%;
}

.txt{
    margin:5px;
    
}

#itemDetails{
    position:static;
    text-align:end;
    width:60%
}